@import 'tailwindcss';

@theme {
  --color-primary-color: var(--color-sky-500);
  --color-primary-hover-color: var(--color-sky-300);
  --color-primary-bg-color: var(--color-white);
}

a {
  @apply text-primary-color hover:text-primary-hover-color transition delay-75 duration-300;
}

button {
  @apply text-sky-500 hover:text-sky-300 transition delay-75 duration-300 hover:cursor-pointer text-left;
}

.header {
  @apply border-primary-color bg-primary-bg-color;
}

.footer-menu {
  @apply text-primary-color bg-primary-bg-color;
}

.funnel-modal {
  @apply bg-primary-bg-color;
}

.video-datetime {
  @apply text-sm text-gray-500;
}
